body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b5b5;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: rgb(215, 200, 200);
    padding: 60px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 100px rgb(12, 12, 12);
    border-radius: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 12px;
}

button:hover {
    background-color: #0056b3;
}
input:hover {
    background-color: #b4b2ac;
}
#message {
    margin-top: 10px;
    font-size: 14px;
}
#toggleLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

