body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("my_wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    animation: fadeIn 1s ease-in;
}


.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 60px;
    width: 300px;
    text-align: center;
    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    transition: transform 0.5s ease;
}

.login-container:hover {
    transform: scale(1.03);
}




input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgb(28, 25, 25);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 12px;
    transition: transform 0.5s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    
}
input:hover {
    background-color: #b4b2ac;
}
#message {
    margin-top: 10px;
    font-size: 14px;
}
#toggleLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#formTitle {
    color: #3af319;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}